workspace "1" // game
workspace "2" //code
workspace "3" // browser


window-rule {
    geometry-corner-radius 12 // Set every window radius to 12
    clip-to-geometry true
    open-maximized true
    open-focused false
    background-effect {
        blur false
    }
    draw-border-with-background false 
}

layer-rule {
    match namespace="^noctalia-wallpaper*"
    place-within-backdrop true
}


window-rule {
    match app-id="vlc"
    open-maximized false
    open-focused true
}

window-rule {
    match app-id="code"
    open-on-workspace "3"
    open-maximized true
    open-focused true
      opacity 0.9
     background-effect {
        blur true
    }
}

window-rule {
    match app-id="discord"
    open-maximized true
    open-on-workspace "2"
    open-focused false
}

window-rule {
    match app-id="google-chrome"
    open-maximized true
    open-on-workspace "3"
    open-focused false
    draw-border-with-background true
}

window-rule {
    match app-id="kitty"
    open-maximized false
    opacity 0.95
        background-effect {
        blur true
    }
    draw-border-with-background false    
}


window-rule {
    match app-id="steam"
    open-on-workspace "1"
    open-focused false
}

window-rule {
    match app-id="heroic"
    open-maximized true
    open-on-workspace "1"
    open-focused true
}

window-rule {
    match app-id="YouTube Music Desktop App"
    open-maximized true
    open-on-workspace "2"
    open-focused false
    opacity 0.9
}

window-rule {
    match app-id="Spotify"
    open-maximized true
    open-on-workspace "2"
    open-focused false
    opacity 0.9
}

window-rule {
    match app-id="GitHub Desktop"
    open-on-workspace "3"
    opacity 0.97
}

window-rule {
    match app-id="antigravity"
    open-on-workspace "3"
    background-effect {
        blur true
    }
}

window-rule {
    match app-id="cursor"
    open-on-workspace "3"
    background-effect {
        blur true
    }
}

window-rule {
    match app-id="python3"
    open-on-workspace "2"
    open-focused false
    open-maximized true
}

window-rule {
    match app-id="dolphin"
    opacity 0.8
    background-effect {
        blur true
    }
}

window-rule {
    match app-id="kate"
    opacity 0.93
    open-maximized false
    open-focused true
    background-effect {
        blur true
    } 
}